.fondos, .fondottoindividuales, .fondotto {
  background-color: rgba(61, 126, 126, 0.5);
  color: white;
  border: solid white 0.1rem;
}

.gridstratamientoscorporales {
  background-color: rgba(218, 202, 166, 0.2);
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  grid-template-rows: 0.1fr 0.1fr auto auto 3fr 0.1fr auto;
  grid-template-areas: "header header header" ". titulo ." ". combos ." ". titulo2 ." ". individuales ." ". arriba ." "footer footer footer";
}
.gridstratamientoscorporales .headercorporales {
  grid-area: header;
}
.gridstratamientoscorporales .titulotratamientoscorp {
  grid-area: titulo;
  border-bottom: solid white 0.1rem;
}
.gridstratamientoscorporales .maincorporales {
  grid-area: combos;
  border-bottom: solid white 0.1rem;
}
.gridstratamientoscorporales .tituloindividualescorp {
  grid-area: titulo2;
  text-shadow: 0 0 0.2em rgb(255, 253, 253);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
}
.gridstratamientoscorporales .individualescorp {
  grid-area: individuales;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
}
.gridstratamientoscorporales .volverarriba {
  grid-area: arriba;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.gridstratamientoscorporales .footercorporales {
  grid-area: footer;
}

.tituloindividuales {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: normal;
}

.fondotto {
  text-align: left;
  margin: 4rem;
  padding: 4rem;
}

.fondottoindividuales {
  text-align: center;
  padding: 4rem;
  width: 30rem;
  height: 30rem;
  margin: 2rem;
}

.precio {
  font-size: 2.3rem;
  text-shadow: 0 0 0.2em rgb(8, 8, 8);
}

.whatsapp {
  position: fixed;
  bottom: 5rem;
  right: 3rem;
}
.whatsapp .iconowhatsapp2 {
  width: 6rem;
  border-radius: 50%;
  animation-name: wpp;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation-duration: 2s;
}
.whatsapp .iconowhatsapp2:hover {
  width: 7rem;
}

@media screen and (max-width: 768px) {
  .gridstratamientoscorporales h1 {
    font-size: 3rem;
  }
  .gridstratamientoscorporales h2 {
    font-size: 3rem;
  }
  .gridstratamientoscorporales h3 {
    font-size: 2rem;
  }
  .gridstratamientoscorporales h4 {
    font-size: 1.9rem;
  }
  .gridstratamientoscorporales p {
    font-size: 1.5rem;
  }
  .fondottoindividuales {
    width: 25rem;
    height: 25rem;
  }
}
@media screen and (max-width: 500px) {
  .gridstratamientoscorporales {
    grid-template-columns: 1fr;
  }
  .gridstratamientoscorporales h1 {
    font-size: 2.5rem;
  }
  .gridstratamientoscorporales h2 {
    font-size: 2.5rem;
  }
  .gridstratamientoscorporales h3 {
    font-size: 1.8rem;
  }
  .gridstratamientoscorporales h4 {
    font-size: 1.7rem;
  }
  .gridstratamientoscorporales p {
    font-size: 1.5rem;
  }
  .whatsapp {
    bottom: 4rem;
    right: 2rem;
  }
  .whatsapp .iconowhatsapp2 {
    width: 5rem;
    border-radius: 50%;
  }
  .whatsapp .iconowhatsapp2:hover {
    width: 6rem;
  }
}
@keyframes wpp {
  0% {
    width: 6.5rem;
  }
  50% {
    width: 7rem;
  }
  100% {
    width: 6.5rem;
  }
}
.gridsttosfaciales {
  background-color: rgba(218, 202, 166, 0.2);
  display: grid;
  grid-template-columns: 0.2fr 3fr 0.2fr;
  grid-template-rows: 0.1fr 0.1fr 6fr 0.1fr;
  grid-template-areas: "header header header" ". titulo ." ". ttosfaciales ." "footer footer footer";
}
.gridsttosfaciales .headerfaciales {
  grid-area: header;
}
.gridsttosfaciales .titulottofacial {
  grid-area: titulo;
  border-bottom: solid white 0.1rem;
}
.gridsttosfaciales .tratamientosfaciales {
  grid-area: ttosfaciales;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.gridsttosfaciales .fondottofacial {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(61, 126, 126, 0.5);
  color: white;
  border: solid white 0.1rem;
  text-align: left;
  padding: 3rem;
  margin: 2rem;
  width: 40rem;
  height: 48rem;
}
.gridsttosfaciales .fondottofacial .imagenttofacial {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gridsttosfaciales .footerfaciales {
  grid-area: footer;
}

.btn-light {
  font-weight: bold;
  font-size: 1.3rem;
  width: 10rem;
  background-color: rgba(250, 250, 250, 0.7);
}

button a {
  text-decoration: none;
}

.card-img-top {
  width: 25rem;
  border-radius: 50%;
  border: solid white 0.1rem;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .gridsttosfaciales {
    grid-template-columns: 0.2fr auto 0.2fr;
    grid-template-rows: 0.2fr 0.2fr 2fr 0.1fr;
  }
  .gridsttosfaciales h1 {
    font-size: 3rem;
  }
  .gridsttosfaciales h2 {
    font-size: 2rem;
  }
  .gridsttosfaciales h3 {
    font-size: 1.7rem;
  }
  .gridsttosfaciales h4 {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 528px) {
  .gridsttosfaciales {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 2fr 0.1fr;
    grid-template-areas: "header" "titulo" "ttosfaciales" "footer";
  }
  .gridsttosfaciales h1 {
    font-size: 2.5rem;
  }
  .gridsttosfaciales h2 {
    font-size: 2rem;
  }
  .gridsttosfaciales h4 {
    font-size: 1.5rem;
  }
  .gridsttosfaciales .fondottofacial {
    width: 32rem;
    height: 45rem;
  }
}
.gridsnuestroespacio {
  background-color: rgba(218, 202, 166, 0.2);
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 1fr 0.2fr;
  grid-template-rows: 0.1fr 0.1fr 1.5fr 0.2fr 1fr 0.1fr;
  grid-template-areas: "header header header header" ". titulo titulo ." ". galeria galeria ." ". ubicacion ubicacion ." ". mapa mapa ." "footer footer footer footer";
}
.gridsnuestroespacio .headernuestroespacio {
  grid-area: header;
}
.gridsnuestroespacio .titulonuestroespacio {
  grid-area: titulo;
  border-bottom: solid white 0.1rem;
}
.gridsnuestroespacio .galeria {
  grid-area: galeria;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid white 0.1rem;
}
.gridsnuestroespacio .galeria .carrusel {
  width: 50rem;
  height: 70rem;
  margin: 3rem;
}
.gridsnuestroespacio .tituloubicacion {
  grid-area: ubicacion;
  text-shadow: 0 0 0.2em rgb(255, 253, 253);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
}
.gridsnuestroespacio .ubicacion {
  grid-area: mapa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridsnuestroespacio .ubicacion .ubicacion1 {
  background-image: url(../imagenes/ubicacion8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  width: 30rem;
  padding-top: 13rem;
}
.gridsnuestroespacio .footernuestroespacio {
  grid-area: footer;
}

.tituloubicacion2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: normal;
}

@media screen and (max-width: 1230px) {
  .ubicacion1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .gridsnuestroespacio {
    grid-template-columns: 0.1fr 2fr 0.1fr;
    grid-template-areas: "header header header" ". titulo ." ". galeria ." ". ubicacion ." ". mapa ." "footer footer footer";
  }
  .gridsnuestroespacio h1 {
    font-size: 3rem;
  }
  .gridsnuestroespacio h2 {
    font-size: 3rem;
  }
  .gridsnuestroespacio .galeria .carrusel {
    width: 45rem;
    height: 65rem;
  }
  .ubicacion2 {
    width: 45rem;
  }
}
@media screen and (max-width: 560px) {
  .gridsnuestroespacio {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .gridsnuestroespacio h1 {
    font-size: 2.5rem;
  }
  .gridsnuestroespacio h2 {
    font-size: 2.5rem;
  }
  .gridsnuestroespacio .galeria .carrusel {
    width: auto;
    height: auto;
  }
  .ubicacion2 {
    width: auto;
    margin: 3rem;
  }
}
.gridscontacto {
  background-color: rgba(218, 202, 166, 0.2);
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 0.1fr 6fr 0.1fr;
  grid-template-areas: "header header header header" ". titulo titulo ." ". main formulario ." "footer footer footer footer";
}
.gridscontacto .headercontacto {
  grid-area: header;
}
.gridscontacto .titulocontacto {
  grid-area: titulo;
  border-bottom: solid white 0.1rem;
}
.gridscontacto .maincontacto {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gridscontacto .opinion1 {
  text-shadow: 0 0 0.2em rgb(255, 253, 253);
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}
.gridscontacto .opinion2 {
  text-shadow: 0 0 0.2em rgb(255, 253, 253);
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-family: "Oooh Baby", cursive;
  font-weight: normal;
}
.gridscontacto .formulario {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(61, 126, 126, 0.5);
  color: white;
  border: solid white 0.1rem;
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.gridscontacto .formulario label {
  font-size: 1.8rem;
}
.gridscontacto .formulario legend {
  font-weight: bold;
}
.gridscontacto .formulario .btn-primary {
  background-color: rgb(0, 0, 0);
  --bs-btn-border-color: #090a0b;
  --bs-btn-hover-border-color: #ffffff;
}
.gridscontacto .footercontacto {
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  .gridscontacto {
    grid-template-columns: 0.1fr 2fr 0.1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" ". titulo ." ". main ." ". formulario ." "footer footer footer";
  }
  .gridscontacto h1 {
    font-size: 3rem;
  }
  .gridscontacto .opinion1 {
    font-size: 3rem;
    padding-top: 2rem;
  }
  .gridscontacto .opinion2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .gridscontacto {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "titulo" "main" "formulario" "footer";
  }
  .gridscontacto h1 {
    font-size: 2.5rem;
  }
  .gridscontacto .opinion1 {
    font-size: 2.5rem;
  }
  .gridscontacto .opinion2 {
    font-size: 2.5rem;
  }
}
.gridslimpiezafacial {
  background-color: rgba(218, 202, 166, 0.2);
  display: grid;
  grid-template-rows: 0.2fr 0.4fr 7fr 0.1fr 0.1fr;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  grid-template-areas: "header header header" ". titulo ." ". incluye ." ". volver ." "footer footer footer";
}
.gridslimpiezafacial .headerlimpiezafacial {
  grid-area: header;
}
.gridslimpiezafacial .titulolimpiezafacial {
  grid-area: titulo;
  border-bottom: solid white 0.1rem;
}
.gridslimpiezafacial .incluyelimpiezafacial {
  grid-area: incluye;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(61, 126, 126, 0.5);
  color: white;
  border: solid white 0.1rem;
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: auto;
}
.gridslimpiezafacial .volveratrasfacial {
  grid-area: volver;
  padding: 1rem;
}
.gridslimpiezafacial .footerlimpiezafacial {
  grid-area: footer;
}

.img-fluid {
  width: 50rem;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .gridslimpiezafacial .incluyelimpiezafacial {
    flex-direction: column;
  }
  .volveratrasfacial {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .gridslimpiezafacial {
    grid-template-rows: 0.1fr 0.1fr 7fr 0.1fr 0.1fr;
    grid-template-columns: 0.1fr 3fr 0.1fr;
  }
  .gridslimpiezafacial h1 {
    font-size: 3rem;
  }
  .gridslimpiezafacial h3 {
    font-size: 2.3rem;
  }
  .gridslimpiezafacial li {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .gridslimpiezafacial {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "titulo" "incluye" "volver" "footer";
  }
  .gridslimpiezafacial h1 {
    font-size: 2.5rem;
  }
  .gridslimpiezafacial h3 {
    font-size: 2.2rem;
  }
  .gridslimpiezafacial li {
    font-size: 1.5rem;
  }
}
.gridsdermaplaning {
  background-color: rgba(218, 202, 166, 0.2);
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  grid-template-rows: 0.2fr 0.4fr 9fr 0.1fr 0.1fr;
  grid-template-areas: "header header header" ". titulo ." ". incluye ." ". volver ." "footer footer footer";
}
.gridsdermaplaning .headerdermaplaning {
  grid-area: header;
}
.gridsdermaplaning .titulodermaplaning {
  grid-area: titulo;
  border-bottom: solid white 0.1rem;
}
.gridsdermaplaning .incluyedermaplaning {
  grid-area: incluye;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(61, 126, 126, 0.5);
  color: white;
  border: solid white 0.1rem;
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: auto;
}
.gridsdermaplaning .volveratrasdermaplaning {
  grid-area: volver;
  padding: 1rem;
}
.gridsdermaplaning .footerdermaplaning {
  grid-area: footer;
}

@media screen and (max-width: 1000px) {
  .gridsdermaplaning .incluyedermaplaning {
    flex-direction: column;
  }
  .volveratrasdermaplaning {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .gridsdermaplaning {
    grid-template-columns: 0.1fr 3fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 10fr 0.1fr 0.1fr;
  }
  .gridsdermaplaning h1 {
    font-size: 3rem;
  }
  .gridsdermaplaning h3 {
    font-size: 2.3rem;
  }
  .gridsdermaplaning li {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .gridsdermaplaning {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "titulo" "incluye" "volver" "footer";
  }
  .gridsdermaplaning h1 {
    font-size: 2.5rem;
  }
  .gridsdermaplaning h3 {
    font-size: 2.2rem;
  }
  .gridsdermaplaning li {
    font-size: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../imagenes/imangefondo3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-shadow: 0 0 0.2em rgb(255, 253, 253);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-bottom: 1rem;
}

h3 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
}

h4 {
  font-size: 2.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-bottom: 1rem;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
}

.logo {
  width: 10rem;
  height: 10rem;
}

ol {
  list-style-type: disc;
}
ol li {
  font-size: 1.5rem;
}
ol li a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
ul li {
  font-size: 2rem;
  font-weight: bolder;
  display: inline-block;
  padding: 0.5rem;
}

a {
  color: black;
}

footer {
  background-color: white;
}
footer p {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.header, .gridshome .headerhome, .gridstratamientoscorporales .headercorporales, .gridsttosfaciales .headerfaciales, .gridsnuestroespacio .headernuestroespacio, .gridscontacto .headercontacto, .gridslimpiezafacial .headerlimpiezafacial, .gridsdermaplaning .headerdermaplaning {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
}

.nav-link {
  color: rgb(121, 158, 146);
}

.gridshome {
  background-color: rgba(218, 202, 166, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 6.5fr 0.1fr;
  grid-template-areas: "header" "main" "footer";
}
.gridshome .headerhome {
  grid-area: header;
}
.gridshome .mainhome {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10rem;
  margin: 2rem;
}
.gridshome .mainhome .textoprincipal {
  text-align: center;
  color: rgb(0, 0, 0);
}
.gridshome .titulo {
  text-shadow: 0 0 0.2em rgb(255, 253, 253);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
  font-size: 3.5rem;
  font-family: "Oooh Baby", cursive;
  font-size: 15rem;
  text-shadow: 0 0 0.2em rgb(255, 253, 253);
}
.gridshome .subtitulo2 {
  text-shadow: 0 0 0.2em rgb(255, 253, 253);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
  font-size: 3.5rem;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  text-shadow: 0 0 0.2em rgb(255, 255, 255);
}
.gridshome .subtitulo3 {
  font-family: "Oooh Baby", cursive;
  font-size: 4.2rem;
  text-shadow: 0 0 0.2em rgb(255, 255, 255);
}
.gridshome .footerhome {
  grid-area: footer;
}
.gridshome .footerhome .redeshome {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 25%;
  right: 0rem;
}

.iconosredes, .iconoubicacion, .iconofacebook, .iconoinstagram, .iconowhatsapp {
  width: 6.5rem;
  padding: 1rem;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .gridshome {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .textoprincipal {
    padding-bottom: 6rem;
  }
  .textoprincipal .titulo {
    font-size: 10rem;
  }
  .textoprincipal .subtitulo2 {
    font-size: 3rem;
  }
  .textoprincipal .subtitulo3 {
    font-size: 4rem;
  }
  ul li {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .gridshome {
    grid-template-rows: 0.1fr 7fr 0.1fr;
  }
  .logo {
    width: 10rem;
    height: 10rem;
  }
  ul li {
    font-size: 1rem;
    padding: 0.2rem;
  }
  .iconowhatsapp {
    width: 5rem;
  }
  .iconoinstagram {
    width: 5rem;
  }
  .iconofacebook {
    width: 5rem;
  }
  .iconoubicacion {
    width: 5rem;
  }
  .textoprincipal .titulo {
    font-size: 8rem;
  }
  .textoprincipal .subtitulo2 {
    font-size: 2.5rem;
  }
  .textoprincipal .subtitulo3 {
    font-size: 3.5rem;
  }
  footer p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 350px) {
  .textoprincipal .titulo {
    font-size: 7.8rem;
  }
  .textoprincipal .subtitulo2 {
    font-size: 2rem;
  }
  .textoprincipal .subtitulo3 {
    font-size: 2.4rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
