

.gridsttosfaciales{
    background-color: rgba(218, 202, 166, 0.2);
    display: grid;
    grid-template-columns: 0.2fr 3fr 0.2fr;
    grid-template-rows: 0.1fr 0.1fr 6fr 0.1fr;
    grid-template-areas:
    "header header header"
    ". titulo ."
    ". ttosfaciales ."
    "footer footer footer";
    .headerfaciales{
        grid-area: header;
        @extend .header;
    }
    .titulottofacial{
        grid-area: titulo;
        border-bottom: solid white 0.1rem ;
    }
    .tratamientosfaciales{
        grid-area: ttosfaciales;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .fondottofacial{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(61, 126, 126, 0.5);
        color: white;
        border: solid white 0.1rem;
        text-align: left;
        padding: 3rem;
        margin: 2rem;
        width: 40rem;
        height: 48rem;
        .imagenttofacial{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    .footerfaciales{
        grid-area: footer;
    }
}
.btn-light{
    font-weight: bold;
    font-size: 1.3rem;
    width: 10rem;
    background-color: rgba(250, 250, 250, 0.7);
}
button a{
    text-decoration: none;
}
.card-img-top{
    width: 25rem;
    border-radius: 50%;
    border: solid white 0.1rem;
    margin: 1rem;
}

@media screen and (max-width:768px){
    .gridsttosfaciales{
        grid-template-columns: 0.2fr auto 0.2fr;
        grid-template-rows: 0.2fr 0.2fr 2fr 0.1fr;
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.7rem;
        }
        h4{
            font-size: 1.9rem;
        }
        
    }
}
@media screen and (max-width:528px){
    .gridsttosfaciales{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 2fr 0.1fr;
        grid-template-areas:
        "header"
        "titulo"
        "ttosfaciales"
        "footer";
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 1.5rem;
        }
        .fondottofacial{
            width: 32rem;
            height: 45rem;
        }
    }
}
